{% extends 'base.html' %}


{% block contenido %}
<b><h1 style="text-align: center; background-color: lightblue; text-justify: inter-word; margin: 20px;">CAUSAS DEL CAMBIO CLIMÁTICO</h1></b>
<p style="text-align: justify; margin: 30px;">Los combustibles fósiles (carbón, petróleo y gas) son, con diferencia, los que más contribuyen al cambio climático mundial, ya que representan más del 75 % de las emisiones mundiales de gases de efecto invernadero y casi el 90 % de todas las emisiones de dióxido de carbono.</h1><p</p>

	    A medida que las emisiones de gases de efecto invernadero cubren la Tierra, atrapan el calor del sol, lo que conduce al calentamiento global y al cambio climático. El mundo se calienta ahora más rápido que en cualquier otro momento de la historia del que haya registros. Con el tiempo, las temperaturas más cálidas están cambiando los patrones climáticos y alterando el equilibrio normal de la naturaleza. Esto plantea muchos riesgos para los seres humanos y todas las demás formas de vida de la Tierra.<br><br>
		
		
	<b>La generación de energía<br><br></b>
		
		La generación de electricidad y calor a través de los combustibles fósiles provoca una gran cantidad de emisiones globales. La mayoría de la electricidad se genera todavía con la combustión de carbón o gas, lo que produce dióxido de carbono y óxido nitroso, que son potentes gases de efecto invernadero que cubren el planeta y atrapan el calor proveniente del sol. A nivel global, algo más de un cuarto de la electricidad proviene de fuentes de energía renovables eólicas y solares que, al contrario que los combustibles fósiles, emiten poca o ninguna cantidad de gases o contaminantes en el aire.<br><br>
		
		
	<b>Productos de fabricación<br><br></b>
		La industria y las fábricas producen emisiones, en su mayoría provenientes de la quema de combustibles fósiles destinada a generar energía para la fabricación de cemento, hierro, acero, componentes electrónicos, ropa y otros bienes. La minería y otros procesos industriales también generan gases, de la misma forma que lo hace el sector de la construcción. La maquinaria utilizada en los procesos de fabricación a menudo realizados mediante carbón, petróleo o gas, y con algunos materiales, como los plásticos, están compuestos de sustancias químicas derivadas de los combustibles fósiles. La industria manufacturera es una de las que más contribuyen a las emisiones de gases de efecto invernadero a nivel mundial.<br><br>
		
		
	<b>La tala de los bosques<br><br></b>
		La tala de bosques a fin de crear granjas o pastos, o por otros motivos, provoca emisiones dado que cuando se talan sus árboles se libera el carbono que estos han estado almacenando. Cada año se destruyen aproximadamente 12 millones de hectáreas de bosques. Puesto que los bosques absorben el dióxido de carbono, su destrucción también limita la capacidad de la naturaleza para mantener estas emisiones fuera de la atmósfera. La deforestación, junto con la agricultura y otros cambios en la utilización de los suelos, es responsable de aproximadamente un cuarto de las emisiones de gases de efecto invernadero.<br><br>
		
		
	<b>El uso del transporte<br><br></b>
		La mayoría de camiones, barcos y aeronaves funcionan con combustibles fósiles. Esto hace que el transporte sea uno de los sectores que más contribuyen a generar gases de efecto invernadero, especialmente en lo que a emisiones de dióxido de carbono se refiere. Los vehículos terrestres son responsables de la mayor parte, debido a la combustión de productos derivados del petróleo, como la gasolina, en los motores de combustión interna. Sin embargo, las emisiones provenientes de barcos y aeronaves siguen aumentando. El transporte es responsable de cerca de un cuarto de las emisiones de dióxido de carbono relacionadas con la energía a nivel global. Y la tendencia es que continúe este importante aumento del uso de la energía para el transporte durante los próximos años.<br><br>
		
		
	<b>La producción de alimentos<br><br></b>
		La producción de alimentos provoca emisiones de metano, dióxido de carbono y otros gases de efecto invernadero, de diferentes maneras, en lo que se incluye la deforestación y la roturación de tierras para la agricultura y el pastoreo, la alimentación del ganado bovino y ovino, la producción y uso de fertilizantes y el abono utilizado para los cultivos, además del uso de la energía que hace funcionar el equipo de las granjas o los barcos pesqueros, siendo normalmente con combustibles fósiles. Todo esto hace que la producción de alimentos sea uno de los sectores que más contribuyen al cambio climático. Además, las emisiones de efecto invernadero también provienen del envasado y la distribución de los alimentos.<br><br>
		
		
	<b>La energía en los edificios<br><br></b>
		A nivel global, tanto los edificios residenciales como los comerciales consumen más de la mitad de la electricidad total. Como siguen utilizando carbón, hidrocarburos y gas natural para los sistemas de calefacción y climatización, emiten cantidades importantes de gases de efecto invernadero. La creciente demanda de sistemas de calefacción y climatización, junto con el aumento en la adquisición de aparatos de aire acondicionado y en consumo eléctrico por parte de aparatos de iluminación y dispositivos conectados, ha contribuido a un aumento en las emisiones de dióxido de carbono relacionadas con la energía y que tiene su origen en las edificaciones, en los últimos años.<br><br>
		
		
	<b>Un consumo excesivo<br><br></b>
		Su hogar, el uso que hace de la energía, el modo de desplazarse, lo que come, lo que derrocha, todo ello afecta a la emisión de gases de efecto invernadero. Y lo mismo ocurre con el consumo de bienes como la ropa, los componentes electrónicos y los productos fabricados en plástico. Un gran porcentaje de las emisiones de gases de efecto invernadero están ligadas a los hogares particulares. Nuestro estilo de vida tiene un profundo impacto en el planeta. Los más ricos son los que tienen mayor responsabilidad: el 1 por ciento de la población mundial con mayor riqueza, en conjunto genera más emisiones de gases de efecto invernadero que el 50 por ciento más pobre.<br><br>
		Extraído de distintas fuentes de la ONU.
		<br><br><br>
		<footer style="text-align: center; background-color: lightblue; margin: 20px;"><h3>Informatorio</h3></footer>	
{% endblock contenido %}