{% extends 'base.html' %}


{% block contenido %}
<b><h1 style="text-align: center; background-color: lightblue; text-justify: inter-word; margin: 20px;">SOLUCIONES AL CAMBIO CLIMÁTICO</h1></b>

<p style="text-align: justify; margin: 30px;">El cambio climático es uno de los mayores desafíos que enfrenta la humanidad en el siglo XXI. Sus efectos son cada vez más evidentes y amenazan la vida de millones de personas y la biodiversidad del planeta. Por eso, es urgente tomar medidas para mitigar y adaptarse al cambio climático, tanto a nivel individual como colectivo.<br><br><p</p>

En este artículo, vamos a describir los puntos fundamentales para un cambio hacia una sociedad más sostenible y respetuosa con el medio ambiente, y vamos a enumerar las posibles soluciones en categorías separadas, según el ámbito de acción y el tipo de medida.<br><br>

La primera categoría es la de las soluciones individuales, es decir, las acciones que podemos realizar cada uno de nosotros en nuestro día a día para reducir nuestra huella ecológica y nuestra emisión de gases de efecto invernadero. Algunas de estas soluciones son:<br><br>

<b>Transporte:</b> Usar el transporte público, la bicicleta o caminar en lugar del coche siempre que sea posible.<br>
<b>Energía:</b> Ahorrar energía en el hogar, apagando los aparatos electrónicos que no se usen, usando bombillas de bajo consumo, regulando la temperatura del termostato, etc.<br>
<b>Consumo:</b>Consumir productos locales, ecológicos y de temporada, evitando el desperdicio alimentario y el uso excesivo de envases y plásticos.<br>
<b>Reciclado:</b> Reciclar y reutilizar los residuos que generamos, siguiendo las normas de separación y depositándolos en los contenedores adecuados.<br>
<b>Educación:</b> Educar y sensibilizar a nuestro entorno sobre la importancia de cuidar el planeta y de adoptar hábitos más verdes.<br><br>

La segunda categoría es la de las soluciones colectivas, es decir, las acciones que podemos realizar en conjunto con otras personas, organizaciones o instituciones para impulsar un cambio más profundo y estructural en la sociedad. Algunas de estas soluciones son:<br><br>

<b>Participación:</b>Participar en movimientos sociales y ambientales que reivindiquen una transición ecológica justa y democrática, presionando a los gobiernos y a las empresas para que asuman su responsabilidad y cumplan con los acuerdos internacionales sobre el clima.<br>
<b>Apoyo:</b>Apoyar y colaborar con proyectos e iniciativas que promuevan la generación de energías renovables, la eficiencia energética, la economía circular, la agroecología, la soberanía alimentaria, etc.<br>
<b>Derechos:</b>Demandar y ejercer nuestro derecho a una información veraz, transparente y contrastada sobre el cambio climático y sus consecuencias, así como a una educación ambiental integral y crítica que nos forme como ciudadanos conscientes y comprometidos.<br>
<b>Innovación:</b>Innovar y crear soluciones tecnológicas, científicas, artísticas o culturales que contribuyan a mitigar y adaptarse al cambio climático, respetando los límites ecológicos y los derechos humanos.<br><br>

Como podemos ver, existen muchas soluciones posibles para hacer frente al cambio climático, pero todas ellas requieren de nuestra voluntad, nuestra implicación y nuestra cooperación. Solo así podremos garantizar un futuro mejor para nosotros y para las generaciones venideras.<br><br>
<footer style="text-align: center; background-color: lightblue; margin: 20px;"><h3>Informatorio</h3></footer>
<br><br><br>	
{% endblock contenido %}